<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ctemplar.app.fdroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".CTemplarApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:largeHeap="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mailto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".splash.PINLockActivity" />

        <activity
            android:name=".login.LoginActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".message.SendMessageActivity" />
        <activity android:name=".message.ViewMessagesActivity" />
        <activity android:name=".contacts.AddContactActivity" />
        <activity android:name=".contacts.EditContactActivity" />
        <activity android:name=".filters.FiltersActivity" />
        <activity android:name=".filters.AddFilterActivity" />
        <activity android:name=".filters.EditFilterActivity" />
        <activity android:name=".folders.AddFolderActivity" />
        <activity android:name=".folders.EditFolderActivity" />
        <activity android:name=".folders.ManageFoldersActivity" />
        <activity android:name=".wbl.AddBlacklistContactActivity" />
        <activity android:name=".wbl.AddWhitelistContactActivity" />
        <activity android:name=".wbl.WhiteBlackListActivity" />
        <activity android:name=".settings.SettingsActivity"
            android:theme="@style/PreferenceScreen" />
        <activity android:name=".settings.PINLockSettingsActivity" />
        <activity android:name=".settings.PINLockChangeActivity" />
        <activity android:name=".settings.ChangePasswordActivity" />
        <activity android:name=".settings.KeysActivity" />
        <activity android:name=".settings.SignatureActivity" />
        <activity android:name=".mailboxes.MailboxesActivity" />
        <activity android:name=".mailboxes.AddMailboxActivity" />

        <service android:name=".notification.NotificationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ctemplar.service.notification.START" />
                <action android:name="com.ctemplar.service.notification.STOP" />
            </intent-filter>
        </service>

        <receiver android:name=".notification.NotificationServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.ctemplar.notification_service.START" />
            </intent-filter>
        </receiver>

    </application>

</manifest>